<ion-view title="Login" hide-nav-bar="true" style="background-color:#F7613C;text-align: center">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <div>
      <img ng-src="img/logo.png" style="display: block; width: 100%; max-width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <button style="background-color:#3B5998;" class="button button-light button-outline icon-left ion-social-facebook" ng-click="login()">&nbsp;&nbsp;Login with Facebook</button>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
  </ion-content>
  <div class="bar bar-footer bar-positive">
    <div class="align-center" style="color:#FFFFFF; margin:0 auto">ⓒ Arian Sobczak 2018</div>
  </div>
</ion-view>
